@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #3b82f6;
  --color-accent: #f59e0b;
  
  --font-sans: Arial, Helvetica, sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Empêche les navigateurs mobiles de modifier la taille du texte après rotation */
    -webkit-text-size-adjust: 100%;
    /* Évite les reflets bleus au clic sur mobile/tablette */
    -webkit-tap-highlight-color: transparent;
  }
}
